@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{  
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

html{
    height: 100%; 
}

.body{
    background: linear-gradient( rgba(18,102,103,1) 0%, rgba(15,19,105,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 20px); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1440px;
    max-height: 720px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.title{
    position: relative;
    width: 30vw;
    padding-top: 20px;
    z-index: 1;
}
.title-start{
    animation-name: playgame;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes playgame{
    0%{
        transform: scale(2) translateY(150%);
    }
    30%{
        transform: scale(2) translateY(150%);
    }
    100%{
        transform: scale(1) translateY(0);
    }
}

.visor{
    width: 80vw;
    max-width: 1152px;
    max-height: 576px;
    min-width: 500px;
    height: 40vw;
    min-height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(rgba(34,193,195,1) 0%, rgba(35,44,247,1) 100%);
    position: relative;
    opacity: 0;
}

/* the styles of the game elements */
.green{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 15vw;
    left: 92%;
    top: 50%;
    max-width: 216px;
}
.green-start{
    animation-name: startgreen;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}
@keyframes startgreen{
    from{
        left: 120%;
        top: 120%;
    }
    to{
        left: 92%;
        top: 50%;
    }
}

.black{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 10vw;
    max-width: 144px;
}

.red{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20vw;
    max-width: 288px;
}
  
.fire{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 5vw;
    max-width: 72px;
    opacity: 0.7;
    animation-name: startfire;
    animation-duration: 2s;
}
@keyframes startfire{
    from{
        transform: scaleY(0.2) translate(-50%, -50%);
    }
    to{
        transform: scaleY(1) translate(-50%, -50%);
    }
}

.killed{
    filter: brightness(20%);
    animation-name: fallout;
    animation-duration: 1s;
}

@keyframes fallout{
    from{
        transform: translate(-50%, -50%);
    }
    to{
        transform: translate(-50%, -50%);
        top: 120%;
    }
}

.hidevisor{
    animation-name: hidevisorframes;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes hidevisorframes{
    0%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        left: 200%;
    }
}

.showvisor{
    animation-name: showvisorframes;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes showvisorframes{
     0%{
        opacity: 0;
        left: 200%;
    }
    10%{
        opacity: 0;
        left: 0;
    }
    100%{
        opacity: 1;
        left: 0;
    }
}